#title{text-align: center;}
#here{height:90vh;width:auto;}
#now{height:90vh;width:auto;}
.img-thumbnail {float:left;}
.imgmain{margin: auto; width: 100%; height: auto;}
.mainparent{text-align: center;}
.mainchild{margin: auto;}
.maintext{text-align: left;}
.caption{text-align: center;}
