#here{width:auto;height:90vh;}
#now{width:auto;height:90vh;}
#title{text-align: center;}

.caption{text-align: center;}
.container{float:left;}
.imgmain{margin: auto; width: 100%; height: auto;}
.img-thumbnail {float:left;}
.index{float:left;}
.mainchild{margin: auto;}
.mainparent{text-align: center;}
.maintext{text-align: left;}

ul { list-style-type: none; }
